.sidebar{
    left: 0px !important;
    opacity: 1 !important;
}
.sidebar-invisible{
    transition: 400ms all;
    opacity: 0;
    top: 0;
    position: fixed;
    height: 100vh !important;
    border-right: 1px solid black;
}
.sidebar-body{
    transition: 400ms all;
    padding-left: 300px;
}